DEV_URL=https://api-stage.rmadm.org
DEV_API=https://api-stage.rmadm.org
DEV_GRPC_URL=https://mesh-stage.rmadm.org:5000
DEV_DOCS_URL="https://app-stage.rmadm.org/docs/en/01-home/"
DEV_HOST=localhost
DEV_PORT=8080
USE_HTTPS=false
USE_PROXY=false
USE_PROXY_INSECURE=true
DEV_WAZUH_DASHBOARD_URL=https://wazuh-dashboard.example.com:5601
DEV_WAZUH_DASHBOARD_USER=<wazuh-dashboard-user>
DEV_WAZUH_DASHBOARD_PASS=<wazuh-dashboard-password>
WAZUH_API_ID=<wazuh-api-id>

