// app global css in Sass form


.gpo-detail-tabs
  background-color: rgba(0, 0, 0, 0.04)

.body--dark .gpo-detail-tabs
  background-color: rgba(255, 255, 255, 0.07)

// TacticalDropdown — limit popup to ~5 items with scroll
.tactical-dropdown-popup
  max-height: 200px !important
  overflow-y: auto !important
